# SERVER CONFIGS
SERVER_PORT = 

# DATABASE_POSTGRES_CONFIGS
DB_DATABASE = 
DB_USER = 
DB_PASS = 
# SCHEMA_NAME = 


# JPA CONFIGS
DRIVER_CLASS_NAME = 
DRIVER_DIALECT = 
DRIVER_DDL_AUTO = 

# SQL SCRIPT INTIALIZER
# SQL_SCRIPT_PATH = classpath:script.sql

# JWT CONFIGS
SECRET_KEY = 
ACCESS_TOKEN_VALIDITY = 
REFRESH_TOKEN_VALIDITY = 